body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Black background */
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.image-container, .text-container {
    flex: 1;
}

.image-box {
    width: 80%; /* This will make the image responsive */
    height: auto;
    border-radius: 50px; /* Rounded corners for the image */
    display: block; /* Fixes any spacing below the image */
}

.text-container {
    background-color: #6d6c69; /* Colored background for the text bubble */
    border-radius: 50px; /* Rounded corners for the bubble */
    padding: 20px;
    margin-left: -190px; /* Adds spacing between image and text */
    color: white; /* Text color */
}

.text-box {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-container {
        margin-left: 0;
        margin-top: 20px;
    }
}
.button {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
}
.button img {
	height: 90px;
	background-color: #000000;
	border-radius: 20px;
}

.button img:hover {
	filter: brightness(144%);
}
