body {
    margin-top: 20px;
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
}
#scrollBanner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000; /* Corrected color value */
    color: white;
    padding: 10px 0;
    transition: top 0.3s;
    z-index: 1000;
}

#scrollBanner a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

#scrollBanner a:hover {
	color: darkred;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.image-section {
    flex-basis: 50%;
    background-image: url('https://lwhxe.github.io/alex.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    border-radius: 40px;
}

.image-button {
    display: inline-block;
    width: 100px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
	margin-left: 20px;
    margin-bottom: 90px; /* Adjust as needed */
	margin-top: 15px;
    position: relative; /* For positioning the hover text */
}
.downlink {
	display: inline-block;
    width: 100px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
	margin-left: 60px;
    margin-bottom: 90px; /* Adjust as needed */
	margin-top: 15px;
    position: relative; /* For positioning the hover text */
}
.hover-content, .downlink-hover {
    position: absolute;
    top: 100%; /* Positioned just below the button */
    left: -50%; /* Centering the hover content */
    width: 200px; /* Adjust the width as needed */
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    transform: translateY(0) scaleY(0); /* Start collapsed and just below the button */
    transform-origin: top; /* Expand from the top */
    transition: transform 0.5s ease, opacity 0.3s ease; /* Smooth transition */
    opacity: 0; /* Start with 0 opacity */
    visibility: hidden; /* Initially not visible */
}

.image-button:hover .hover-content, .downlink:hover .downlink-hover {
    transform: translateY(20px) scaleY(1); /* Move down and expand */
    opacity: 1; /* Full opacity on hover */
    visibility: visible; /* Make it visible on hover */
}

.content-section {
    flex-basis: 50%;
    padding: 20px;
}

.text-bubble {
    border: 2px solid #fff;
    padding: 20px;
    background-color: black;
    border-radius: 15px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
