body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Grey background */
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.image-container, .text-container {
    flex: 1;
}

.image-box {
    width: 100%; /* This will make the image responsive */
    height: auto;
    border-radius: 15px; /* Rounded corners for the image */
    display: block; /* Fixes any spacing below the image */
}

.text-container {
    background-color: #721919; /* Purple background for the text bubble */
    border-radius: 15px; /* Rounded corners for the bubble */
    padding: 20px;
    margin-left: 20px; /* Adds spacing between image and text */
    color: white; /* Text color */
}

.text-box {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-container {
        margin-left: 0;
        margin-top: 20px;
    }
}
