body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.image-section {
    flex-basis: 50%;
    background-image: url('https://lwhxe.github.io/alex.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    border-radius: 40px;
}
.image-button {
    display: inline-block;
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
	margin-top: 15px;
    /* Add other styling as needed */
}
.content-section {
    flex-basis: 50%;
    padding: 20px;
}

.text-bubble {
    border: 2px solid #fff;
    padding: 20px;
    background-color: black;
    border-radius: 15px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
