body {
    background-color: #333; /* Dark gray background */
    color: #f0f0f0; /* Lighter text for contrast */
	font-family: Verdana, sans-serif;
}

.home_image {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    width: 80px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional, for rounded corners */
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Align items side by side */
}

.container, .content-section, .image-section {
    background-color: #444; /* Slightly lighter gray than the body */
    padding: 10px;
    border-radius: 10px; /* Optional: Adds rounded corners */
}


.content-section {
    flex-basis: 70%; /* Content section takes 70% of the width */
}

.image-section {
    flex-basis: 28%; /* Image section takes 28% of the width */
    padding: 10px;
    text-align: center; /* Center the image and text */
}

.collapsible {
    background-color: #000000;
    color: #f9f9f9;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 15px; /* Adjust this value to increase or decrease roundness */
}

.active, .collapsible:hover {
    background-color: #ccc;
}


.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #1a1a1a; /* Black background for the content */
    color: #ffffff; /* White text color */
    transition: max-height 0.5s ease-out;
}


ul {
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}
